/* Контент свайпера */


/* Новости */

.caseContentNews{
    background-color: var(--main);
}
.caseImgNews{
    height: 300px;
    object-fit: cover;
}


/* Свайпер */

/* Стрелки */
.swiper-button-next::after,
.swiper-button-prev::after{
    color: var(--orangeKorvus);
    font-size: 64px;
}

/* Буллеты (Окружности)*/
.swiper-pagination{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: var(--orangeKorvus);
}